

.fav-sec {
    padding-top: 132px;
    padding-bottom: 100px;
}

.fav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

   @media screen and (min-width:1440px) {
        /* flex-direction: row;
        gap: 32px; */
        display: grid;
        grid-template-columns: 1.2fr 2fr;
   }
}

.fav-sec h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin-bottom: 20px;
}

.wrapper-first-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width:767px) {
        flex-direction: row ;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1440px) {
        
    }
}

.fav-quote-card {
    margin: 0;
    width: 100%;
    max-width: none;

    @media screen and (min-width:767px) {
       padding: 40px;
    }
}

.fav-quote-text {
   
        display: flex;
        justify-content: space-between;

}


.fav-goal-card {
    width: 100%;
    height: 119px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:767px) {
        margin: 0;
        width: 48%;
        height: 141px;
        padding: 25px;
    }
}
.fav-exr-card {
    height: 141px;
     
    @media screen and (min-width:1440px) {
        width: 100%;
        max-width: none;
    }
}
.fav-workout-title-left {
    display: flex;
    align-items: center;
}

.fav-img {
    height: 119px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

    @media screen and (min-width:767px) {
        margin: 0;
        width: 48%;
        height: 141px;
    }
}

.wrapper-secnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media screen and (min-width:767px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1440px) {
        height: 472px; 
        overflow-y: auto; 
        overflow-x: hidden; 
        align-content: flex-start;
        padding-right: 10px; 
        align-items: center;
    }

}

.wrapper-secnd::-webkit-scrollbar {
    width: 8px;
}

.wrapper-secnd::-webkit-scrollbar-track {
    background: rgba(36, 36, 36, 0.1);
    border-radius: 12px; /* Округление дорожки */
}

.wrapper-secnd::-webkit-scrollbar-thumb {
    background: rgba(36, 36, 36, 1); /* Цвет ползунка */
    border-radius: 12px; /* Округление ползунка */
}

@keyframes blackHole {
    0% {
      transform: scale(1);
      opacity: 1;
      border-radius: 0%;
    }
    10% {
      transform: scale(0.9) translate(-2px, 2px) rotate(5deg);
      opacity: 0.9;
      border-radius: 10%;
    }
    20% {
      transform: scale(0.8) translate(-4px, 4px) rotate(10deg);
      opacity: 0.8;
      border-radius: 20%;
    }
    30% {
      transform: scale(0.7) translate(-6px, 6px) rotate(15deg);
      opacity: 0.7;
      border-radius: 30%;
    }
    40% {
      transform: scale(0.6) translate(-8px, 8px) rotate(20deg);
      opacity: 0.6;
      border-radius: 40%;
    }
    50% {
      transform: scale(0.5) translate(-10px, 10px) rotate(25deg);
      opacity: 0.5;
      border-radius: 50%;
    }
    60% {
      transform: scale(0.4) translate(-12px, 12px) rotate(30deg);
      opacity: 0.4;
      border-radius: 60%;
    }
    70% {
      transform: scale(0.3) translate(-14px, 14px) rotate(35deg);
      opacity: 0.3;
      border-radius: 70%;
    }
    80% {
      transform: scale(0.2) translate(-16px, 16px) rotate(40deg);
      opacity: 0.2;
      border-radius: 80%;
    }
    90% {
      transform: scale(0.1) translate(-18px, 18px) rotate(45deg);
      opacity: 0.1;
      border-radius: 90%;
    }
    100% {
      transform: scale(0) translate(-20px, 20px) rotate(50deg);
      opacity: 0;
      border-radius: 100%;
    }
  }
  
  .animate-remove {
    animation: blackHole 1s ease forwards;
  }

  .text-exer {
    text-align: center;
    color: rgba(36, 36, 36, 1);

       @media screen and (min-width: 767px) {
            max-width: 554px;
            padding-top: 132px;
            margin: 0 auto;
       }

        @media screen and (min-width:1440px) {
            height: 390px;
            padding-top: 0;
            max-width: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }