/* Hero styles */
/* Mobile first */

.hero-section {
    padding-top: 132px;
    padding-bottom: 40px;
}

.hero-text-wrapper {
    margin-bottom: 20px;
}

.hero-title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    color: #242424;
}

.accent {
    font-style: italic;
}

.hero-title::before {
    content: "";
    display: inline-block;
    background-image: url('../../images/hero/sun.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
    margin-right: 15px;
}

.hero-text {
    letter-spacing: -0.02em;
    
}

.hero-image {
    border-radius: 30px; 
    width:335px;
    height:460px;

    @media screen and (min-width:768px) {
        display: block;
        border-radius: 60px;
        width:705px;
        height:550px;
    }

    @media screen and (min-width:1440px) {
        width:1376px;
        height:350px;
    }
}

.hero-tags {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    margin-top: 20px;

    @media screen and (max-width:374px) {
        flex-wrap: wrap;
    }
}

.hero-tags-image, 
.hero-tags-desktop {
    display: none;
}

.hero-tag {
    padding: 4px 12px;
    border: 1px solid #242424;
    border-radius: 30px;

    @media screen and (max-width:374px) {
        width: 45%;
        text-align: center;
    }   
}


/* Tablet */
@media only screen and (min-width: 768px) {
    .hero-text-wrapper {
        margin-bottom: 32px;
    }
    
    .hero-section {
        padding-top: 176px;
        padding-bottom: 64px;
    }

    .hero-title {
        font-size: 74px;
        line-height: 1;
    }

    .hero-title::before {
        width: 59px;
        height: 59px;
    }


    .hero-text {
        font-size: 18px;
        line-height: 1.33;
        max-width: 528px;
    }
    

    .hero-tags {
        justify-content: flex-end;
        margin-top: 16px;
    }

    .hero-tag {
        padding: 4px 16px;
        font-size: 16px;
        line-height: 1.5;
    } 
}


/* Desktop */
@media (min-width: 1440px) {
    .hero-text-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .hero-container-desktop {
        display: flex;
        flex-direction: column; 
        align-items: flex-end;  
        text-align: right; 
        width: 197px; 
    }
    
    .hero-tags {
        display: none;
    }

    .hero-tags-image {
        border-radius: 20px;
        display: block;
    }

    .hero-tags-desktop {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 32px;
    }

    .hero-tag-desktop {
        padding: 4px 16px;
        font-size: 16px;
        line-height: 1.5;
        border: 1px solid #242424;
        border-radius: 30px;
    }

}    