<div class="exrcs-motivation-container">
  <div class="quote-card">
    <div class="icon-left">
      <svg class="quote-icon" width="20" height="20">
        <use href="./images/icons.svg#runn-man"></use>
      </svg>
    </div>
    <div class="quote-content">
      <p class="quote-text">
        Quote of the day
        <span class="icon-right">
          <svg class="quote-icon" width="20" height="20">
            <use href="./images/icons.svg#quote"></use>
          </svg>
        </span>
      </p>
      <p class="quote" id="quote-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="quote-author" id="quote-author">Tom Brady</p>
    </div>
  </div>

  <div class="image-wrapper">
    <img
      src="./images/exrcs-motivation/drinking-girls.webp"
      alt="Group exercising"
      class="motivation-image"
    />
  </div>

  <div class="exercise-goal-card">
    <div class="goal-icon">
      <svg class="icon-target" width="20" height="20">
        <use href="./images/icons.svg#gauntlets"></use>
      </svg>
    </div>
    <div class="goal-content">
      <p class="goal-text">110 min</p>
      <p class="goal-subtext">Daily norm of sports</p>
      <p class="goal-description">
        The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life.
      </p>
    </div>
  </div>
</div>
