<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-left">
        <a href="index.html" class="logo-footer" aria-label="logo">
          <svg class="logo-svg">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="social-list-footer">
          <li class="social-item">
            <a
              class="social-link-footer"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Facebook site"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link-footer"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Instagram site"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link-footer"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to YouTube site"
            >
              <svg class="social-icon" width="28" height="28">
                <use href="./images/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="slogan-subscribe">
        <p class="slogan-text">Transforming your body shape with us</p>

        <div class="subscribe">
          <p class="subscribe-text">Subscribe and learn about new exercises!</p>
          <form class="newsletter-form" name="newsletterForm">
            <label class="newsletter-field">
              <input
                class="newsletter-input"
                type="email"
                name="user-subscription"
                placeholder="Email"
              />
            </label>
            <button aria-label="subscribe" class="btn newsletter-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="rights">
      <div class="rights-policy">
        <p class="rights-reserved">Your Energy. All rights reserved.</p>
        <p class="policy">Privacy Policy / Terms of Service</p>
      </div>
      <div class="copywriting">
        <p>©2023</p>
      </div>
    </div>
  </div>
</footer>
