<header class="header" id="js-header">
  <div class="container">
    <div class="header-wrapper">
      <a href="./index.html" class="logo" aria-label="logo">
        <svg class="icon-logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header-menu">
        <nav>
          <ul class="header-pages-list" id="js-header-pages">
            <li class="header-pages-item">
              <a href="./index.html">Home</a>
            </li>
            <li class="header-pages-item">
              <a href="./favorites.html">Favorites</a>
            </li>
          </ul>
        </nav>
        <load src="./socials.html" />
      </div>
      <button class="header-menu-btn" id="js-menu" aria-label="icon menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="backdrop"></div>
    </div>
  </div>
</header>
