<section class="hero-section">
    <div class="container">
        <div class="hero-text-wrapper">
            <div class="hero-box">
                <h1 class="hero-title">Get <span class="accent">Body</span> in <br> shape, Stay healthy</h1>
                <p class="hero-text">
                    Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and
                    nutrition
                    support.
                </p>
            </div>
            <div class="hero-container-desktop">
                <!-- Content image with Retina display support -->
                <img 
                    src="./images/hero/girls-doing-fitness-together-outdoors@1x.webp" 
                    srcset="./images/hero/girls-doing-fitness-together-outdoors@2x.webp 2x" 
                    alt="Close-up of two girls balancing on one leg outdoors, touching the soles of their feet together on a yoga mat" 
                    class="hero-tags-image"
                    loading="lazy">
                    
    
                <ul class="hero-tags-desktop">
                    <li class="hero-tag-desktop">#Sport</li>
                    <li class="hero-tag-desktop">#Healthy</li>
                    <li class="hero-tag-desktop">#Workout</li>
                    <li class="hero-tag-desktop">#Diet</li>
                </ul>
            </div>
        </div>
         <picture>
            <source 
                srcset="./images/hero/girls-outdoors-working-out-desk@1x.webp, 
                        ./images/hero/girls-outdoors-working-out-desk@2x.webp 2x" 
                media="(min-width: 1440px)" 
                width="1376" 
                height="350"
                loading="lazy">
            <source 
                srcset="./images/hero/girls-outdoors-working-out-tablet@1x.webp, 
                        ./images/hero/girls-outdoors-working-out-tablet@2x.webp 2x" 
                media="(min-width: 768px)" 
                width="704" 
                height="550"
                loading="lazy">
            <source 
                srcset="./images/hero/girls-outdoors-working-out-mob@1x.webp, 
                        ./images/hero/girls-outdoors-working-out-mob@2x.webp 2x" 
                media="(max-width: 767px)" 
                width="335" 
                height="460"
                loading="lazy">
            <img 
                src="./images/hero/girls-outdoors-working-out-mob@1x.webp" 
                srcset="./images/hero/girls-outdoors-working-out-mob@2x.webp 2x" 
                alt="Two girls exercising outdoors near a lake, facing each other in a plank position, and giving a high-five with smiles on their faces" 
                class="hero-image"
                loading="lazy">
        </picture>
        <ul class="hero-tags">
            <li class="hero-tag">#Sport</li>
            <li class="hero-tag">#Healthy</li>
            <li class="hero-tag">#Workout</li>
            <li class="hero-tag">#Diet</li>
        </ul>
    </div>
</section>
   
